# OptiLogix Enterprise Configurations
APP_ENV=development
SECRET_KEY=insira_uma_chave_secreta_aqui
DB_PATH=/caminho/completo/para/seu/projeto/data/optilogix.db
LOG_LEVEL=INFO
LOG_FILE_PATH=/caminho/completo/para/seu/projeto/logs/app.log
